* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Caviar;
}

@font-face {
  font-family:Caviar;
  src:url(fonts/CaviarDreams.ttf);
}

@font-face {
  font-family:CaviarBold;
  src:url(fonts/CaviarDreams_Bold.ttf);
}

@font-face {
  font-family:CaviarItalic;
  src:url(fonts/CaviarDreams_Italic.ttf);
}

ul {
  list-style: none;
}

li,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: black;
}

.image {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .45;
}

.image-one {
  display: block;
}

.active {
  opacity: 1;
  pointer-events: none;
}

.markers {
  z-index: 100;
  color: white;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;
}

span {
  font-size: 26px;
  margin: 5px;
  cursor: pointer;
  opacity: .5;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.middle-logo {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#title {
  font-family: CaviarBold;
  font-size: 60px;
  /* margin-top: 50px; */
}

.middle-logo h1{
  font-size: 50px;
  text-align: center;
  letter-spacing: 10px;
}

.middle-logo h2 {
  letter-spacing: 5px;
  margin-top: 30px;
  /* text-transform: uppercase; */
  /* font-family: CaviarItalic; */
}

.middle-logo a {
  font-size: 20px;
  letter-spacing: 5px;
  margin-top: 30px;
  padding: 10px 25px;
  color: white;
  cursor: pointer;
  background-color: rgba(255, 255, 255,.2);
  transition: .5s;
}

.middle-logo a:hover {
  background-color: white;
  color: black;
}

/* NOTE: navbar */

header {
  width: 100%;
  /* height: 94px; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 200;
  padding: 15px;
}

header ul li {
  cursor: pointer;
}

nav {
}

.icon {
  color: white;
  font-size: 25px;
  opacity: .8;
  transition: .5s;
}

.icon:hover {
  opacity: 1;
  transform: scale(1.1);
}

.top-logo {
  width: 60px;
  height: auto;
  /* opacity: .9; */
  transition: .5s;
}

/* NOTE: menu page */

.menu-container {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 0;
  position: absolute;
  opacity: 0;
  top: -100%;
  transition: all .75s linear;
  display: flex;
  align-items: center;
  overflow-y: auto;

}

.menu-list li{
  color: white;
  margin: 25px 0 0 50px;
  font-size: 30px;
  transition: all .5s linear;
}

.menu-list li:hover{
  margin-left: 65px;
  text-decoration: underline;

}

.x-header {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.x-header li {
  list-style: none;
  font-size: 30px;
  margin: 20px;
  transition: .5s;
}

.x-header li:hover {
  transform: scale(1.1);
  margin: 20px;
  color: rgba(214, 44, 20, 0.9)
}

/* NOTE: contact page */
.contact-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 0;
  position: absolute;
  opacity: 0;
  top: -100%;
  transition: all .75s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
  overflow-y: auto;
}

.left-contact,
.right-contact {
  width: 35%;
  min-height: 80%;
  margin: 10px;
  min-width: 350px;
}

.contact-container h2,
.address {
  padding: 20px;
  line-height: 2;
}

.left-contact h2,
.right-contact h2 {
  font-family: CaviarBold;
  font-size: 30px;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.contact-container textarea {
  min-height: 200px;
  margin: 10px;
  padding: 10px;
  resize: none;
  font-size: 16px;
}

.contact-container input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;

}

.contact-container button {
  margin: 10px;
  padding: 20px;
  font-size: 16px;
  transition: .5s;
}

button:hover {
  transform: scale(1.02);
}


@media screen and (max-width: 515px) {
  #title {
    font-size: 40px;

  }

  .middle-logo h1{
    font-size: 30px;
  }

  .middle-logo h2 {
    font-size: 20px;
  }
}


@media screen and (max-width: 375px) {
  #title {
    font-size: 35px;
  }

  .middle-logo h1{
    font-size: 25px;
  }

  .middle-logo h2 {
    font-size: 15px;
  }
}

@media screen and (max-height: 450px) {
  #title {
    font-size: 40px;
    margin-top: 50px;
  }

  .middle-logo h1{
    font-size: 30px;
  }

  .middle-logo h2 {
    font-size: 20px;
  }

  .left-contact,
  .right-contact,
  .menu-list {
    margin-top: 150px;
  }
}
