* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Caviar;
}

@font-face {
  font-family:Caviar;
  src:url(fonts/CaviarDreams.ttf);
}

@font-face {
  font-family:CaviarBold;
  src:url(fonts/CaviarDreams_Bold.ttf);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: black;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .45;
}

.image-one {
  display: block;
}

.active {
  opacity: 1;
  pointer-events: none;
}

.markers {
  z-index: 100;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;
}

span {
  font-size: 26px;
  margin: 5px;
  cursor: pointer;
  opacity: .5;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.middle-logo {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.middle-logo h1{
  font-size: 60px;
  text-align: center;
  letter-spacing: 10px;
}

.middle-logo h2 {
  letter-spacing: 5px;
  margin-top: 30px;
  /* text-transform: uppercase; */
}

.middle-logo a {
  font-size: 20px;
  letter-spacing: 5px;
  margin-top: 30px;
  padding: 10px 25px;
  color: white;
  cursor: pointer;
  background-color: rgba(255, 255, 255,.2);
  transition: .4s;
}

.middle-logo a:hover {
  background-color: white;
  color: black;
}

/* NOTE: navbar */

header {
  width: 100%;
  /* height: 94px; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 200;
  padding: 15px;
}

header ul li {
  cursor: pointer;
}

nav {
}

.icon {
  color: white;
  font-size: 25px;
  opacity: .8;
}

.icon:hover {
  opacity: 1;
}

.top-logo {
  width: 70px;
  height: auto;
  /* opacity: .8; */
}

/* NOTE: menu page */

.menu-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 300;
  position: absolute;
  opacity: 0;
  top: -100%;
  transition: all .75s linear;
  display: flex;
  align-items: center;
}

.menu-container ul li{
  color: white;
  padding: 25px 0 0 50px;
  font-size: 30px;
}
